<div style="width: 100%; height: 85%;">
    <mat-tab-group>
        <mat-tab label="Spaces">
            <form name="Create Space">
                <mat-form-field appearance="fill">
                    <mat-label>Space Name</mat-label>
                    <input matInput [(ngModel)]="newSpaceName" name="spaceName" required>
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="addSpace()">Add Space</button>
            </form>

            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                @for (space of spaces(); track space; let i = $index) {
                <app-space-item [spaceItem]="space" class="example-box" cdkDrag></app-space-item>
                }
            </div>
        </mat-tab>
        <mat-tab label="Availability">
            <app-availability-editor></app-availability-editor>
        </mat-tab>
        <mat-tab label="Balance"></mat-tab>
    </mat-tab-group>
</div>