<mat-toolbar color="primary">
  <a mat-button routerLink="/" routerLinkActive="active-link">Personal Planner</a>
  <span class="example-spacer"></span>
  <a *ngIf="!userIsAuthenticated()" mat-button routerLink="/auth/login" routerLinkActive="active-link">Login</a>
  <a *ngIf="!userIsAuthenticated()" mat-button routerLink="/auth/signup" routerLinkActive="active-link">Sign Up</a>
  <button *ngIf="userIsAuthenticated()" mat-icon-button (click)="onLogout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>