<div [style.background-color]="itemHovered ? '#ccc' : 'white'" class="task-format" (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()">
    <mat-checkbox class="task-data"></mat-checkbox>
    <h3 class="task-data">{{task().title}}</h3>
    <p class="task-data">{{task().description}}</p>
    <div style="display: flex; flex-direction: row; align-items: center;" [style.visibility]="itemHovered ? 'visible' : 'hidden'">
        <button mat-icon-button (click)="onEdit()">
            <mat-icon class="material-icons-outlined">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onSetCompletionTime()">
            <mat-icon class="material-icons-outlined">timer</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete()">
            <mat-icon class="material-icons-outlined">delete</mat-icon>
        </button>
        <button mat-icon-button (click)="onComplete()">
            <mat-icon class="material-icons-outlined">task_alt</mat-icon>
        </button>
    </div>
</div>