.task-format {
    display: grid;
    height: 50px;
    grid-template-columns: 50px 1fr 1fr 50px;
}

.task-data {
    align-self: center;
    margin: 0px;
}

div {
    border-bottom: solid 1px #ccc;
}