<!-- List of assigned tasks -->
<!-- Display days of the week where the given day has been set as available -->
<div style="display: flex; gap: 1rem; background: green;">
  <h2>Header component with week selector</h2>
</div>
<div style="display: flex; gap: 1rem; min-width: 200px">
  <div style="flex: 1;">
    @for (task of pocketsTasks(); track $index) {
    <app-task-list-item [task]="task"></app-task-list-item>
    }
  </div>
  <div style="width: 100%; background: yellow; flex: 5;">show available days and task in days which already has been
    assigned</div>

</div>


<!-- Every available day should display the assigned tasks to that day.
  The task height should correlate it duration of the task since the y axis would represned the time scale
    Should be also possible to leave gaps between tasks when in the given time range is not available -->