<mat-card style="grid-row: 1;height: 100%;">
    <mat-card-header>
        <mat-card-title style="text-align: center;">Week {{week().index}}</mat-card-title>
        <mat-card-subtitle>
            <div style="display: flex; flex-direction: row; justify-content: space-between; width: 200px;">
                <p style="align-self: flex-start;"> {{week().startDate | date: 'MMM.dd'}} </p>
                <p style="align-self: flex-end;"> {{week().endDate | date: 'MMM.dd'}} </p>
            </div>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content style="height: 100%;">
        <p>Space occupation data</p>

    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button color="primary">Open in Planner</button>
    </mat-card-actions>
</mat-card>