
<div id="app-root-content" >
    <app-header></app-header>
    <mat-drawer-container>
        <mat-drawer #drawer mode="side" style="padding-left: 20px; padding-right: 20px;">
            <app-navigation-panel></app-navigation-panel>
        </mat-drawer>
        
        <mat-drawer-content style="padding: 2rem;">
            <router-outlet></router-outlet>
            <!-- Add a button which is displayed on top of any other html element in the left bottom corner within mat-drawer-content -->
            @if (userIsAuthenticated()) {
                <button (click)="onAddTask()" style="position: fixed; bottom: 2rem; z-index: 1000;" mat-fab extended color="primary">
                    <mat-icon>add_2</mat-icon>
                    Add Task
                </button>
            }
        </mat-drawer-content>
    </mat-drawer-container>

</div>
